.footer {
  width: 100%;
  padding: 2rem 5rem;
  display: flex;

  .logo {
    width: 30rem;
  }

  .menu {
    width: 60%;
    margin-left: auto;
    ul {
      display: flex;
      justify-content: flex-end;
      li {
        margin-left: 3rem;
      }
    }
  }
}
