@import "./variables";

.header {
  position: relative;
  display: flex;
  width: 100vw;
  padding: 2rem;
}

.menu {
  display: none;
  justify-content: flex-end;
  width: 60%;
  margin-left: auto;
  ul {
    display: flex;
    justify-content: flex-end;
    li {
      margin-left: 2rem;
    }
  }
}

/*
=============== 
Burger
===============
*/

.burger {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 1.5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;

  .burgerline {
    width: 100%;
    height: 2px;
    margin: 2px 0;
    background-color: $clr-white;
  }
  & active {
    display: none;
  }
}

.togglemenu {
  position: absolute;
  right: 2rem;
  top: 2rem;
  display: none;
  & active {
    display: flex;
  }
}

@media screen and (min-width: $screen-large) {
  .menu {
    display: flex;
  }
  .togglemenu {
    display: none;
  }
  .burger {
    display: none;
  }
}
